@charset "utf-8"

// BASE
body {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    padding-inline: 4.8%;
}

h1 , h2 {
    margin: 0;
}

// header

.header__logo {
    width: 108px;
    margin: 36px auto 26px auto;
    img {
        width: 100%;
    }
}

.nav__wrapper {
    display: flex;
    max-width: 336px;
    margin-inline: auto;

    .nav__item {
       margin-left: 14px; 
    }

    .nav__item:nth-child(1) {
        margin-left: 0;
    }
}

// mainvisual

.mainvisual {
    width: 100%;

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

// contents

.headline {
    font-size: 16px;
    border-block: 1px solid #C3C3C3;
    padding-block: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
